<launch>
        <!--  ************** Global Parameters ***************  -->
        <param name="/use_sim_time" value="true"/>

        <!--  ************** Stage Simulator ***************  -->
	<!-- <node pkg="stage_ros" type="stageros" name="stageros" args="$(find teb_local_planner_tutorials)/stage/maze_carlike.world"> -->
	<node pkg="stage_ros" type="stageros" name="stageros" args="$(find topp2)/stage/play.world">
		<remap from="base_scan" to="scan"/>
  	</node>

	<node name="map_server" pkg="map_server" type="map_server" args="$(find topp2)/map/play.yaml" output="screen">
                <param name="frame_id" value="map"/>
	</node>

	<node pkg="amcl" type="amcl" name="amcl" output="screen">
		<!-- <rosparam file="$(find teb_local_planner_tutorials)/cfg/amcl_params.yaml" command="load" /> -->
		        <param name="odom_model_type"       value="diff"/>
        <param name="use_map_topic"         value="true"/>
        <param name="transform_tolerance"   value="0.5"/>
	        <param name="initial_pose_x"            value="0"/>
		<param name="initial_pose_y"            value="0"/>
		<param name="initial_pose_a"            value="0"/>
	</node>

	<!-- <include file="$(find topp)/launch/topp.launch"> 

	</include>-->
</launch>