<launch>

    <node name="map_server" pkg="map_server" type="map_server" args="$(find topp2)/map/play.yaml" output="screen">
    </node>
    <node pkg = "topp2" type="publish_map_node" name="publish_map_node" output="screen"/>
    <!--path search algorihtm-->

    <node pkg="rviz" type="rviz" name="$(anon rviz)" respawn="false" output="screen" args="-d $(find topp2)/rviz/2d_search.rviz"/>

</launch>